.container {
    composes: ml-4 mb-8 from global;
    width: 272px;
}

.counter {
    position: relative;
}

.image {
    composes: ml-4 mr-4 from global;
    cursor: pointer;
}

.name {
    composes: text text_type_main-default from global;
    cursor: pointer;
}